

<!-- Header -->
<header style="padding-top: 40px; height: 768px">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Welcome To </div>
      <div class="intro-heading">The Museum of American G.I.</div>
      </br></br></br></br></br></br></br></br></br></br></br></br>
      <a href="#information" class="scroll btn btn-signin">Sign In</a>
    </div>
  </div>
</header>


<%= render 'groups/form', :@group => Group.new %>
