<div style="padding: 20px 20px">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header" style="font-family: 'Edwardian Script ITC'">About The Website</h2>
    </div>
  </div>
  <div>
    <p style="font-family: 'Edwardian Script'; font-size: 17px">
      Thank you for visiting our team web page!
      <br><br>
      This website was built as a collaborative team assignment for CSCE 606 - Software Engineering (<a href="https://www.tamu.edu" style="color: maroon">Texas A&M University</a>) during the Fall of 2015.
      Our goal was to design and implement a web-based application to handle the online online survey task of The Museum of American G.I - College Station.
      The full details of this assignment can be found <a href="#">here</a>.
      <br><br>
      A special thank you to <a href="https://parasol.tamu.edu/~jeff/">Dr. Jeff Huang</a> for assigning us this project and providing excellent assistance.
      <br><br>
      December 3, 2015
    </p>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header" style="font-family: 'Edwardian Script ITC'">About The Dining Philosophers Team</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <img width="300" height="300" title="Khuong Nguyen" onmouseout="this.src='images/Khuong_1.jpg'" onmouseover="this.src='images/Khuong_2.jpg'" src="images/Khuong_1.jpg" class="thumbnail">
      <strong>
        <span class="label label-info" target="_blank">
          <span class="about-us"><a href="https://www.linkedin.com/in/khuong-nguyen-404b2570">Khuong Nguyen</a></span>
        </span>
      </strong>
      <br>
      <span class="label label-warning about-email">khuong.nguyen2189@gmail.com</span>
    </div>
  </div>
</div>