// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*@import "bootstrap-sprockets";
@import "bootstrap";
@import "visitors_statistics";
@import "bootstrap-datepicker3";*/

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  /* TODO @include box_sizing; */
}
input {
  height: auto !important;
}

checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

/* This causes checkbox of remember me to overlap with the text, which is not good.
#session_remember_me {
  width: auto;
  margin-left: 0;
}
*/