/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //*= require_tree .
 //*= require_self
 */
/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "visitors_statistics";
@import "visitors";
@import "bootstrap-datepicker3";
@import "bootstrap-multiselect";
@import "sb-admin-2";
@import "timeline";
@import "metisMenu";
@import "morris";
@import "font-awesome";
//@import "dataTables/jquery.dataTables";
@import "dataTables/extras/dataTables.responsive";
@import "dataTables/extras/dataTables.tableTools";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

html {
  position: relative;
  min-height: 100%;
}

html, body {
  margin: 0;
  height: 100%;
}

//#footer {
//  //position: absolute;
//  bottom: 0px;
//  width: 100%;
//  /* Set the fixed height of the footer here */
//  height: 60px;
//  background-color: #3E0001;
//}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 0;
  width: 90%;
}
.container .text-muted {
  margin: 20px 0;
}



//.footer, .push {
//  height: 4em;
//}

code {
  font-size: 80%;
}

#content {
  padding-top: 10px;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 10px;
}

#logo {
  border-radius: 25%;
  overflow:hidden;
}

//#navbar > .navbar-nav li a {
//  line-height: 40px;
//}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* line 71, /Users/khuongnguyen/.rvm/gems/ruby-2.2.3/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_buttons.scss */
.btn-maroon {
  color: #fff;
  //background-color: #337ab7;
  //border-color: #2e6da4;
  background-color: maroon;
  border-color: maroon;
}

/* line 11, /Users/khuongnguyen/.rvm/gems/ruby-2.2.3/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-maroon:focus, .btn-maroon.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}

/* line 17, /Users/khuongnguyen/.rvm/gems/ruby-2.2.3/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-maroon:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

/* line 22, /Users/khuongnguyen/.rvm/gems/ruby-2.2.3/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-maroon:active, .btn-maroon.active, .open > .btn-maroon.dropdown-toggle {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

/* line 29, /Users/khuongnguyen/.rvm/gems/ruby-2.2.3/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-maroon:active:hover, .btn-maroon:active:focus, .btn-maroon:active.focus,
.btn-maroon.active:hover, .btn-maroon.active:focus, .btn-maroon.active.focus,
.open > .btn-maroon.dropdown-toggle:hover, .open > .btn-maroon.dropdown-toggle:focus,
.open > .btn-maroon.dropdown-toggle.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

/* line 37, /Users/khuongnguyen/.rvm/gems/ruby-2.2.3/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-maroon:active, .btn-maroon.active, .open > .btn-maroon.dropdown-toggle {
  background-image: none;
}

/* line 45, /Users/khuongnguyen/.rvm/gems/ruby-2.2.3/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-maroon.disabled, .btn-maroon.disabled:hover, .btn-maroon.disabled:focus,
.btn-maroon.disabled.focus, .btn-maroon.disabled:active, .btn-maroon.disabled.active,
.btn-maroon[disabled], .btn-maroon[disabled]:hover, .btn-maroon[disabled]:focus,
.btn-maroon[disabled].focus, .btn-maroon[disabled]:active, .btn-maroon[disabled].active,
fieldset[disabled] .btn-maroon, fieldset[disabled] .btn-maroon:hover,
fieldset[disabled] .btn-maroon:focus, fieldset[disabled] .btn-maroon.focus,
fieldset[disabled] .btn-maroon:active, fieldset[disabled] .btn-maroon.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}

/* line 56, /Users/khuongnguyen/.rvm/gems/ruby-2.2.3/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-maroon .badge {
  color: #337ab7;
  background-color: #fff;
}

//nav a {
//  padding-top: 20px !important;
//  padding-bottom: 20px !important;
//  font-size: 18px;
//}
//
//nav .navbar-toggle {
//  margin: 13px 15px 13px 0;
//}
//
//.navbar-brand {
//  font-size: 20px;
//}
//
//nav.navbar.shrink {
//  min-height: 35px;
//}
//
//nav.shrink a {
//  padding-top: 10px !important;
//  padding-bottom: 10px !important;
//  font-size: 15px;
//}
//
//nav.shrink .navbar-brand {
//  font-size: 25px;
//}
//
//nav.shrink .navbar-toggle {
//  padding: 4px 5px;
//  margin: 8px 15px 8px 0;
//}
//
//.navbar {
//  //position: absolute;
//  width: 100%;
//  //height: 60px;
//  background-color: #3E0001;
//}
//
//#nav_menu_ul li a {
//  background: none;
//  //color: #FFFFFF;
//}
//
//#nav_menu_ul li a:hover {
//  background-color: #2D0000;
//}
//
//#nav_menu_ul li a:active  {
//  color: #3E0001;
//  background-color: #2D0000;
//}
//
//.navbar-static-top {
//  margin-bottom:20px;
//}

//i {
//  font-size:16px;
//}

//.nav > li > a {
//  color:#787878;
//}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color: #3E0001;
}

//.footer > .footer_container {
//  padding-right: 15px;
//  padding-left: 15px;
//  height: 30px;
//}
//
//.footer > .footer_container div p, a {
//  display: inline-table;
//}
//
//.footer > .footer_container a {
//  float: right;
//  color: #FFFFFF;
//}
//
//.footer > .footer_container a:hover {
//  background-color: #2D0000;
//}
//
//.footer > .footer_container > .text-muted {
//  color: #FFFFFF;
//}

footer {
  padding: 25px 0;
  text-align: center;
  background-color: #222;
}

footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
}

ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}

header {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  //background-image: image-url('flags_of_our_fathers-001.jpg');
  //background-image: image-url('band_of_brothers.jpg');
  background-image: image-url('band_of_brother_vintage.jpg');
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: #fed136;
}

//.navbar-brand {
//  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
//  color: #fed136;
//}

.btn-signin {
  padding: 20px 40px;
  border-color: #fed136;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #fed136;
}

.btn-signin:hover,
.btn-signin:focus,
.btn-signin:active,
.btn-signin.active,
.open .dropdown-toggle.btn-signin {
  border-color: #f6bf01;
  color: #fff;
  background-color: #fec503;
}

.btn-signin:active,
.btn-signin.active,
.open .dropdown-toggle.btn-signin {
  background-image: none;
}

.btn-signin.disabled,
.btn-signin[disabled],
fieldset[disabled] .btn-signin,
.btn-signin.disabled:hover,
.btn-signin[disabled]:hover,
fieldset[disabled] .btn-signin:hover,
.btn-signin.disabled:focus,
.btn-signin[disabled]:focus,
fieldset[disabled] .btn-signin:focus,
.btn-signin.disabled:active,
.btn-signin[disabled]:active,
fieldset[disabled] .btn-signin:active,
.btn-signin.disabled.active,
.btn-signin[disabled].active,
fieldset[disabled] .btn-signin.active {
  border-color: #fed136;
  background-color: #fed136;
}

.btn-signin .badge {
  color: #fed136;
  background-color: #fff;
}

#alert {
    padding-top: 70px;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10px;
}
