/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //*= require_tree .
 //*= require_self
 */
/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "visitors_statistics";
@import "visitors";
//@import "homepage";
@import "bootstrap-datepicker3";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #3E0001;
}
.navbar {
  position: absolute;
  width: 100%;
  //height: 60px;
  background-color: #3E0001;
}

//nav > .container {
//  background-color: #3E0001;
//}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer > .container p, a {
  display: inline-table;
}

.footer > .container a {
  float: right;
  color: #FFFFFF;
}

.footer > .container a:hover {
  background-color: #2D0000;
}

.footer > .container > .text-muted {
  color: #FFFFFF;
}

#navbar a {
  color: #FFFFFF;
}

#navbar a:hover {
  background-color: #2D0000;
}

#navbar a:active  {
  color: #3E0001;
  background-color: #2D0000;
}

#navbar a  {
  background: none;
}

code {
  font-size: 80%;
}

.content {
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

#logo {
  border-radius: 25%;
  overflow:hidden;
}

#navbar > .navbar-nav li a {
  line-height: 40px;
}

.btn {
    background-color: maroon;
  	border-color: maroon;
}