// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#log_in_btn {
  margin-top: 20px;
  background-color: maroon;
  border-color: maroon;
}