// Place all the styles related to the visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.visitor_title
{
	font-family: Arial, Helvetica, sans-serif;
}

.table_header
{
	background-color: rgb(141,0,0);
	color: white;
}